.GreetingsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: var(--inside-spacing-lg);

  background-color: var(--color-gray);
  border-radius: var(--corner-radius-lg);

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}