.header {
  padding: var(--inside-spacing-lg);
  border-bottom: var(--border);
}

.main {
  padding: var(--inside-spacing-lg);
}

.footer {
  padding: var(--inside-spacing-lg);
  margin-top: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  max-width: var(--wrapper-width);
  margin: 0 auto;
}